.main {
    display: inline-flex;
    padding: 5% 7% ;
    border-style:ridge;
    border-radius: 5%;

}
.title {
    display: flex;
    justify-content: center;
}
.price {
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    justify-content: center;
    color: #B8860B;
    background-color:white ;
    border-color: #B8860B;
}
